.auth {
  position: relative;
  width: 100%;
  height: 100%;
  &__banner {
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  &__layout {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 120px 40px 0px 40px;

    box-shadow: 8px 0 24px rgba(0, 0, 0, 0.12);
  }
}
