@import "tailwindcss";

@theme {
    --background-image-banner: url('/banner.png');
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    /* IE và Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }
}