$text_color_1: #00293a;
$text_color_2: #f0f2f5;

$black_color: #00293a;
$white_color: #ffffff;
$primary_color: #00293a;
$secondary_color: #00609c;

$text_alert_1: #e52500;
$text_alert_2: #007bff;

//Font Family
$font_family_1: "DM Sans", "system-ui", sans-serif;

$color-text-primary: #333333;
$color-border: #d9d9d9;
$color-blue-5: #1890ff;
$color-blue-4: #40a9ff;
$color-blue-6: #096dd9;
$color-blue-6: #096dd9;
$color-red-5: #ff4d4f;
$color-orange-5: #faad14;
$color-gray-2: #f5f5f5;
$color-gray-6: #bfbfbf;
$shadow-focus-blue: rgba(24, 144, 255, 0.2);
$shadow-error-red: rgba(255, 77, 79, 0.2);
$shadow-warning-orange: rgba(250, 173, 20, 0.2);
$color-white: #ffffff;
$background-color: #f7f8f9;
